body{
	font-family: 'Open Sans','Calibri', sans-serif;
	background-color: #f4f4f4;
}
h1 {
	margin: auto;
	line-height: 120%;
	font-size: 56px;
	font-family: 'Bungee Shade','Century Gothic', 'Open Sans', cursive;
}

a:link{
	color: #888;
	text-decoration: none;
}

a:visited{
	color: #888;
}

a:hover{
	text-decoration: none;
	background-color: #888;
	color: #ffffff;
}



#credits {
	line-height: 120%;
	margin-top: 0px;
	font-size: 10px;
	font-family: 'Open Sans', 'Calibri',sans-serif;
}

